/* Color Theme Variables */
:root {
  --main-background-color: #292929;
  --main-text-color: white;
}

@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-VariableFont_wght.ttf");
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Sora", Fallback, sans-serif;
}

.two-column-wrapper {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.two-column-wrapper > div {
  width: 500px;
  height: 500px;
}

.chart-description {
}

.chart-description > h2 {
  width: 100%;
  text-align: center;
}

#moveVisualizerMoveListContainer {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
  left: calc((100% - 1000px) / 2);
}

.button {
  height: 40px;
  width: 140px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  border: 1px solid #5b8c5a;
  transition: background-color 0.2s ease-in;
  z-index: 1;
}

.button:hover {
    background-color: #5b8c5a;
}

.move-card {
    display: flex;
    width: 100px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color:black;
    background-color: white;
    border: 1px solid black;
}

.move-card-black {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.move-card > p {
    width: 100%;
    text-align: center;
}

#moveVisualizerResetButtonContainer {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

