/* Color Theme Variables */
:root {
  --main-background-color: #292929;
  --main-text-color: white;
  --red: #dd6b66;
  --blue: #759aa0;
  --orange: #e69d87;
  --green: #8dc1a9;
}

@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-VariableFont_wght.ttf");
}

a {
  color: #759aa0;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Sora", Fallback, sans-serif;
}

.two-column-wrapper {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.two-column-wrapper > div {
  width: 500px;
  height: 500px;
}

#dataPopup {
  width: 220px;
  height: 135px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0.7;
  border-radius: 10px;
  flex-direction: column;
  color: white;
  transition: top 0.3s ease-out;
  transition: left 0.3s ease-out;
  font-size: 11px;
}

#dataPopup > div {
  margin: 0;
}

#dataPopup > div > p {
  margin: 0;
  padding: 0 4px 0 4px;
  text-align: left;
}

.left-p {
  width: 70%;
}

.right-p {
  width: 30%;
}

.chart-description {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.chart-description > h2 {
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: underline;
}

#loadingDiv {
  width: 100%;
  text-align: center;
}

#moveVisualizerMoveListContainer {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
  left: calc((100% - 1000px) / 2);
}

.button {
  height: 40px;
  width: 140px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  border: 1px solid #5b8c5a;
  transition: background-color 0.2s ease-in;
  z-index: 1;
}

.button:hover {
    background-color: #5b8c5a;
}

.move-card {
    display: flex;
    width: 100px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color:black;
    background-color: white;
    border: 1px solid black;
}

.move-card-black {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.move-card > p {
    width: 100%;
    text-align: center;
}

#moveVisualizerResetButtonContainer {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.black-3c85d {
  background-color: #b58863;
  color: #f0d9b5;
}

#gradientLegendWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 40px;
}

#gradientLegend {
  width: 80%;
  background: linear-gradient(90deg, #7298ab 0%, #4ca9a7 25%,  #64b37e 50%, #abb14a 75%, #f49f42 100%);
  height: 20px;
}

#gradient-elofilter {
  height: 40px;
}
#gradientLegendWrapper > p {
  padding: 0 6px 0 6px;
}

.win-lose-draw {
  display: flex;
  flex-direction: row;
  width: 94%;
  padding: 3px 3% 3px 3%;
  height: 30px;
}

#white {
  background-color: white;
  width: 33%;
  transition: width 0.3s ease-out;
  text-align: center;
  color: black;
}

#black {
  background-color: black;
  width: 33%;
  transition: width 0.3s ease-out;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: calc(100% - 2px);
}
#draw {
  background-color: gray;
  width: 33%;
  transition: width 0.3s ease-out;
  text-align: center;
  color: black;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  height: calc(100% - 2px);
}

.win-lose-draw >div {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.win-lose-draw >div>p {
  text-align: center;
  width: 100%;
}

#dataPopup > .sectionTitle {
  width: 100%;
  text-align: center;
  margin: 1px 0 3px 0;
}

#dataPopup > .two-column-wrapper {
  padding: 3px 10px 3px 10px;
}

#elo-filter-wrapper {
  width: 500px;
  height: 50px;
}

#slider-bar {
  width: 90%;
  background-color: white;
  height: 15px;
  position: relative;
  top: 7.5px;
  left: 5%;
}

.slider-wrapper {
  top: -40px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.slider-vert {
  width: 5px;
  height: 40px;
  background-color: black;
  position: relative;
  top: 20px;
}

.eloText {
  position: absolute;
  left: -28px;
  text-align: center;
  width: 60px;
}

#slider-high {
  left: 470px;
}

#slider-low { 
  left: 16px;
}

#title-wrapper {
  padding-top: 20px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.red {
  color: #dd6b66;
}

.blue {
  color: var(--blue);
}

.orange {
  color: var(--orange);
}
#horse-head {
  width: 500px;
}

.one-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.one-column-wrapper> p, h2 {
  width: 1000px;
}
.one-column-wrapper> h2 {
  text-align: center;
}

#outcome-graphic > img {
  width: 500px;
}

.extra-long {
  height: 700px;
}